%table.table
  %thead.thead-dark
    %tr
      %th{:scope=>"col"} #
      %th{:scope=>"col"} Objetivos
      %th{:scope=>"col"} Cumplido?
    %tbody
      %tr
        %th{:scope=> "row"} 1
        %td Implementar todas las vistas en HAML
        %td
          %input{:type=> "checkbox"}
      %tr
        %th{:scope=>"row"} 2
        %td Mantener el estilo
        %td
          %input{:type=> "checkbox"}
      %tr
        %th{:scope=>"row"} 3
        %td Crear repositorio propio
        %td
          %input{:type=>"checkbox"}
      %tr
        %th{:scope=>"row"} 4
        %td Hacer add, commit y push de los cambios
        %td
          %input{:type=>"checkbox"}
